@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-mont: "Montserrat", sans-serif;
  --font-robo: "Roboto Slab", serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #fafafa;
}

.flexd {
  display: flex;
}

header {
  justify-content: space-between;
  padding-left: 4.2rem;
  align-items: center;
  border-bottom: solid 1px #e8e8e8;
  width: 100%;
}

.h-links {
  align-items: center;
  gap: 3rem;
  font-family: var(--font-mont);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.h-links h1 {
  font-size: 1.8rem;
  width: 100%;
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: normal;
  color: #0290ff;
}

.link {
  text-decoration: none;
  color: #121212;
  text-transform: uppercase;
  font-size: 0.813rem;
  font-weight: normal;
  letter-spacing: 1.9px;
}

#user-pic {
  padding: 0 8.4rem;
  background-color: #fafafa;
  border-radius: 100%;
}

#user-pic img {
  width: 25px;
  height: auto;
}

.f-col {
  display: flex;
  flex-direction: column;
}

#main-sec {
  align-items: center;
  gap: 4rem;
  padding-top: 1.6rem;
}

#books-list {
  width: 88%;
  gap: 1rem;
}

.book {
  align-items: center;
  padding: 2.5rem 2rem;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  gap: 4rem;
}

.book-info {
  min-width: 400px;
  font-family: var(--font-robo);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.book-info-h h4 {
  width: 7rem;
  height: 1.125rem;
  margin: 0 4rem 0 0;
  opacity: 0.5;
  font-family: var(--font-mont);
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
}

.book-info-h h3 {
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #4386bf;
}

.axn-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-family: var(--font-robo);
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.line-div {
  width: 0.125rem;
  height: 1.2rem;
  margin: 0 0.9rem;
  border-left: solid 0.1px #e8e8e8;
}

.book-progress {
  gap: 1.2rem;
  font-family: var(--font-mont);
  color: #121212;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.book-percentage {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

.book-completion {
  width: 5rem;
  height: 1.125rem;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 0;
}

.circ-progress {
  width: 4rem;
  height: 4rem;
}

.line-p-div {
  height: 4.375rem;
  margin: 0;
  border-left: solid 1px #e8e8e8;
}

.progression {
  font-family: var(--font-robo);
  color: #121212;
}

.progression > * {
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.book-chapter {
  height: 1.125rem;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 0.813rem;
  letter-spacing: normal;
}

.book-chapter-number {
  height: 1.313rem;
  font-size: 1rem;
  letter-spacing: -0.4px;
}

.prog-btn {
  margin-top: 0.5rem;
  height: 2.063rem;
  text-transform: uppercase;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  font-size: 0.813rem;
  letter-spacing: 0.5px;
  text-align: center;
  border: none;
  color: #fff;
  border-radius: 3px;
  background-color: #0290ff;
}

#add-div {
  width: 86%;
  gap: 1.5rem;
  margin-bottom: 1.6rem;
}

.add-book-line-div {
  height: 0.125rem;
  border-top: solid 1px #e8e8e8;
}

#add-div h2 {
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: var(--font-mont);
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

#add-book-form {
  width: 100%;
  gap: 1.5rem;
  justify-content: space-between;
}

#book-title,
#book-author,
#form-categ {
  width: 24%;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.add-book-btn {
  width: 11.5rem;
  height: 2.813rem;
  margin: 0 1.2rem 0 0;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
}
